<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mouritech.springframework.firstapp"/>
    <!--  bean(s) definition  -->
    <bean id="messageService" class="com.mouritech.springframework.helloworld.HelloWorld">
            <property name="message" value="A Positive mindset brings positive things"></property>
    </bean>
      <bean id="CustomerService" class="com.mouritech.springframework.helloworld.CustomerDetails">
            <property name="customerId" value="1"></property>
            <property name="customerName" value="mahesh"></property>
            <property name="customerAddress" value="hyderabad"></property>
    </bean>

 </beans>